@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url(https://c1.wallpaperflare.com/path/482/39/625/workspace-workplace-partnership-office-d35f07170ef26794f63a9a94b40d9f9a.jpg);
           
    }
    h1{
        font-size:150px;
        color:white;
        margin-top:400px;
        margin-left: -100px;
    }
    h2{
        margin-left: -270px;
        font-size:60px;
        color:white;
    }
    h3{
        color:white;
        font-size: 40px;
        margin-left: 400px;
    }
    p{
        font-size:20px;
        margin-top:30px;
        margin-left: -100px;
    }
</style>


<div id="main">

    <h2>
        Platform for Job and Talent matching.
    </h2>
    <h3>
        Start Today!
    </h3>

    <h1>
        Job Linking
    </h1>
    <p>100+ Job Seekers    100+ Companies</p>
</div>